* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navibar{
    width: 100%;
    height:112px;
    background-color: white;
  }

  .navibar #logo{
      float: left;
      margin-left: 32px;
      line-height: 112px;
  }
  
  .navibar #logo img{
    height: 40px;
    vertical-align: middle;
  }
  
  .navibar #menu{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    list-style:none;
    padding:0;
    margin:0;
  }

  .navibar #menu li{
    float:left;
    margin-left:24px;
    line-height:112px;
  }
  
  .navibar #menu li a {
    color:#616161;
    font-size:15px;
    text-decoration:none;
    font-weight: normal;
  }

  .menu2{
    float:right;
    margin-right: 32px;
    line-height:112px;
    

  }

  .menu2 img{
    width: 24px;
    margin-left: 12px;
  }
/* ------------------------------- */
  .main{
    height:728px;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 56px;
  }

  .header{
    height:616px;
    width: 1218px;
    text-align: center;
    /* background-color: #b41515; */
    margin-left:auto;
    margin-right:auto;

    /* background-image:url("https://bakey.codeit.kr/files/629/images/hero_header.jpg");
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center center;  */
  }

  .header1{
    width: 387px;
    float: left;
    height: 616px;
    background-color: #616161;
    margin-right: 16px;
  }
  
  .main-content{
    width: 483px;
    float: left;
    height: 300px;
    background-color: rgb(255, 51, 0);
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .sidebar1{
    float: left;
    width: 300px;
    height: 300px;
    background-color: rgb(136, 255, 0);
    margin-bottom: 8px;
  }

  .sidebar2{
    width: 483px;
    float: left;
    height: 300px;
    background-color: rgb(255, 51, 0);
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .footer{
    float: left;
    width: 300px;
    height: 300px;
    background-color: #d9d9d9;
    margin-bottom: 8px;
    
  }

  .footer h1{
    font-size:24px;
    color:#ffffff;
    font-weight: normal;
    margin-top: 105px;
    margin-bottom:16px;
    text-align:center;
  }

  .footer a{
    font-size:14px;
    color:#757575;
    font-weight: lighter;
    text-align:center;
    text-decoration: none;
  }
  /* ----------------------------------------------- */
  
  .products{
    width: 100%;
    height: 1004PX;
    background-color: #ffffff;
    padding-top: 136PX;
  }

  .products h3{
    font-size:24px;
    color:#000000;
    font-weight: BOLD;
    margin-bottom:16px;
    text-align:center;
  }
  
  .products h4{
    font-size:18px;
    color:#757575;
    font-weight: normal;
    margin-bottom:40px;
    text-align:center;
  }

  .mm{
    width: 300px;
    height: 10px;
    background-color: #000000;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
  }

  .mm img{
      float: right;
  }
  
  .more{
    width:1120px;
   text-align: right;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    color:#616161;
    font-weight: normal;
    margin-bottom:32px;
    
  }

  .more a{
    text-decoration:none;
    color:#616161;
  }

  .product-list{
    width:1140px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background-color: #852727;
    
  }
  
  .product {
    text-align:center;
    width:265px;
    display:block;
    color:#545454;
    text-decoration:none;
    float:left;
    margin-left:10px;
    margin-right:10px;
  }

  .product-list img{
    width:265px;
    height: 280px;
  }

  /* .product-list:not(:nth-child(4n)){
    margin-right: 20px;
  } */
  
  .product-name{
    text-align:left;
    margin-left: 24px;
    font-size:16px;
    color:#616161;
    font-weight: normal;
    margin-top:32px;
    margin-bottom:8px;
  }

  .product-price{
    text-align:left;
    margin-left: 24px;
    font-size:18px;
    color:#424242;
    font-weight: bold;
    margin-bottom:48px;
  }

  
  
  /* .select{
    width:1120px;
    height: 344px;
    background-color: aqua;
    margin-top: 50px;
  }

  .best{
    width:550px;
    height: 344px;
  }

  .premium{
    width:550px;
    height: 344px;
  }
   */
  

  /* .clearfix{
    clear:both;
  }

  
  .footer{
    text-align: center;
    margin-top:40px;
    margin-bottom:80px;
  }
  .footer a{
    margin-left:10px;
    margin-right:10px;
    text-decoration:none;
  }
   */